{{ define "testing" }}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/test.css">
</head>

<body data-theme="dark">
    <div class="app-container">
        <nav class="navbar">
            <div class="navbar-content">
                <div class="navbar-brand">
                    <button class="btn btn-icon">
                        <i class="ph ph-list"></i>
                    </button>
                    <div class="navbar-brand">
                        <img src="/public/images/logo.png" alt="Breviage" class="navbar-logo">
                        <h1 class="navbar-title">Breviage</h1>
                    </div>
                </div>
                <div class="navbar-search">
                    <input type="text" class="search-input" placeholder="Search acronyms...">
                    <i class="ph ph-magnifying-glass"></i>
                </div>
                <div class="navbar-actions">
                    <button class="btn btn-primary">
                        <i class="ph ph-plus"></i>
                        <span>New</span>
                    </button>
                    <button class="btn btn-icon" onclick="swapTheme()">
                        <i id="color-mode-toggle" class="ph ph-sun"></i>
                    </button>
                    <button class="btn btn-icon">
                        <i class="ph ph-gear"></i>
                    </button>
                    <div class="user-profile">
                        <button class="btn">
                            <img src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=60&h=60&dpr=2"
                                alt="John Doe" class="profile-image">
                        </button>
                    </div>
                </div>
            </div>
        </nav>

        <div class="main-content">
            <aside class="sidebar">
                <div class="sidebar-content">
                    <button class="sidebar-item">
                        <i class="ph ph-house sidebar-item-icon"></i>
                        <span>All Acronyms</span>
                    </button>
                    <div class="sidebar-section">
                        <div class="sidebar-title">
                            <div class="sidebar-item">
                                <i class="ph ph-tag sidebar-item-icon"></i>
                                <h3>Tags</h3>
                                <i class="ph ph-caret-down"></i>
                            </div>
                        </div>
                        <div class="acronym-tags">
                            <button class="acronym-tag">backend</button>
                            <button class="acronym-tag">business</button>
                            <button class="acronym-tag">database</button>
                            <button class="acronym-tag">design</button>
                            <button class="acronym-tag">devops</button>
                            <button class="acronym-tag">frontend</button>
                            <button class="acronym-tag">healthcare</button>
                            <button class="acronym-tag">infrastructure</button>
                            <button class="acronym-tag">management</button>
                            <button class="acronym-tag">programming</button>
                            <button class="acronym-tag">software</button>
                            <button class="acronym-tag">technology</button>
                            <button class="acronym-tag">web</button>
                        </div>
                    </div>

                </div>
            </aside>

            <main class="content-container">
                <div class="acronym-list">
                    <div class="acronym-list-header">
                        <div class="acronym-list-title">
                            <h2>Acronyms</h2>
                            <span class="acronym-list-count">8 items</span>
                        </div>
                        <div class="acronym-list-actions">
                            <button class="btn btn-icon">
                                <i class="ph ph-funnel"></i>
                            </button>
                            <button class="btn btn-icon">
                                <i class="ph ph-download-simple"></i>
                            </button>
                            <button class="btn btn-primary">
                                <i class="ph ph-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="acronym-items">
                        {{ range $i := 10 }}
                        <div class="acronym-item" hx-get="/acronyms/{{ $i }}" hx-target="#acronym-details"
                            hx-swap="innerHTML">
                            <div class="acronym-item-content">
                                <div class="acronym-item-checkbox">
                                    <input type="checkbox">
                                </div>
                                <div class="acronym-item-main">
                                    <div class="acronym-item-header">
                                        <h3 class="acronym-item-title">API</h3>
                                        <button class="btn btn-icon acronym-item-actions">
                                            <i class="ph ph-dots-three-outline-horizontal"></i>
                                        </button>
                                    </div>
                                    <p class="acronym-item-description">Application Programming Interface</p>
                                    <p class="acronym-item-description">A set of definitions and protocols for building
                                        and integrating application software.</p>
                                    <div class="acronym-item-tags">
                                        <span class="acronym-tag">programming</span>
                                        <span class="acronym-tag">web</span>
                                        <span class="acronym-tag">backend</span>
                                        <span class="acronym-item-date">Jan 17, 2023, 01:00 AM</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{ end }}
                        <!-- Repeat similar structure for other acronym items -->
                    </div>
                </div>

                <div id="acronym-details" class="acronym-details">
                    {{ template "components/AcronymContent" . }}
                </div>
            </main>
        </div>
    </div>

    <script src="https://unpkg.com/htmx.org@2.0.4"></script>

    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css" />
    <link rel="stylesheet" type="text/css"
        href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css" />

    <script>
        function swapTheme() {
            const body = document.body;
            body.dataset.theme = body.dataset.theme === 'dark' ? 'light' : 'dark';

            const colorModeToggle = document.getElementById('color-mode-toggle');
            colorModeToggle.classList.toggle('ph-sun', body.dataset.theme === 'dark');
            colorModeToggle.classList.toggle('ph-moon', body.dataset.theme === 'light');
        }
    </script>

</body>

</html>
{{ end }}

{{ define "components/AcronymContent"}}
<div class="acronym-details-header">
    <h2 class="acronym-details-title">Acronym Details</h2>
    <div class="acronym-details-actions">
        <button class="btn btn-icon">
            <i class="ph ph-share"></i>
        </button>
        <button class="btn btn-icon">
            <i class="ph ph-pen"></i>
        </button>
        <button class="btn btn-icon btn-danger">
            <i class="ph ph-trash"></i>
        </button>
        <button class="btn btn-icon">
            <i class="ph ph-x"></i>
        </button>
    </div>
</div>
<div class="acronym-details-content">
    {{ if .Acronym }}
    <div class="acronym-details-main">
        <div class="acronym-details-header-content">
            <h1 class="acronym-details-name">{{ .Acronym.Acronym }}</h1>
        </div>
        <h2 class="acronym-details-full-name">{{ .Acronym.Meaning }}</h2>
        <div class="acronym-details-description">
            <h3 class="acronym-details-description-title">Description</h3>
            <p class="acronym-details-description-text">{{ .Acronym.Description }}</p>
        </div>
        <div class="acronym-details-tags">
            <h3 class="acronym-details-tags-title">Tags</h3>
            <div class="acronym-details-tags-list">
                {{ range .Acronym.Labels }}
                <span class="acronym-details-tag">{{ .Label }}</span>
                {{ end }}
            </div>
        </div>
        <div class="acronym-details-meta">
            <div class="acronym-details-meta-grid">
                <div class="acronym-details-meta-item">
                    <i class="ph ph-calendar acronym-details-meta-icon"></i>
                    <div>
                        <p>Created: {{ .Acronym.CreatedAt }}</p>
                        <p>Updated: {{ .Acronym.UpdatedAt }}</p>
                    </div>
                </div>
                <div class="acronym-details-meta-item">
                    <i class="ph ph-user acronym-details-meta-icon"></i>
                    <p>Created by: {{ .Acronym.Owner.Name }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="acronym-details-related">
        <h3 class="acronym-details-related-title">Related Acronyms</h3>
        <div class="acronym-details-related-grid">
            <div class="acronym-details-related-item">
                <h4 class="acronym-details-related-name">PROGRAMMING</h4>
                <p class="acronym-details-related-description">Related to programming</p>
            </div>
            <div class="acronym-details-related-item">
                <h4 class="acronym-details-related-name">WEB</h4>
                <p class="acronym-details-related-description">Related to web</p>
            </div>
            <div class="acronym-details-related-item">
                <h4 class="acronym-details-related-name">BACKEND</h4>
                <p class="acronym-details-related-description">Related to backend</p>
            </div>
        </div>
    </div>
    {{ else }}
    {{ template "components/AcronymListNoContent" . }}
    {{ end }}
</div>
{{ end }}

{{ define "components/AcronymListNoContent"}}
<div class="acronym-no-content">
    <div class="acronym-no-content-box">
        <h3 class="acronym-no-content-title">No acronym selected</h3>
        <p class="acronym-no-content-description">Select an acronym from the list to view its details or create a
            new one to get started.</p><button class="acronym-no-content-button">
            <i class="ph ph-plus"></i>
            Create new acronym</button>
    </div>
</div>
{{ end }}

{{ define "components/AcronymFolder"}}
<div class="sidebar-section">
    <div class="sidebar-title">
        <h3>Folders</h3>
        <button class="btn btn-icon">
            <i class="ph ph-folder-plus"></i>
            <span>New Folder</span>
        </button>
    </div>
    <div class="folder-list">
        <div class="sidebar-item">
            <button class="btn">
                <i class="ph ph-caret-down"></i>
            </button>
            <i class="ph ph-folder sidebar-item-icon"></i>
            <span>Technology</span>
        </div>
        <div class="folder-subitem">
            <div class="sidebar-item">
                <i class="ph ph-folder sidebar-item-icon"></i>
                <span>Programming</span>
            </div>
        </div>
        <div class="sidebar-item">
            <i class="ph ph-folder sidebar-item-icon"></i>
            <span>Business</span>
        </div>
        <div class="sidebar-item">
            <i class="ph ph-folder sidebar-item-icon"></i>
            <span>Healthcare</span>
        </div>
    </div>
</div>
{{ end }}