{{ define "components/acronym_modal" }}
<h2>Acronym Details</h2>
<div class="acronym-details">
    <p>Acronym: {{ .Acronym.Acronym }}</p>
    <p>Meaning: {{ .Acronym.Meaning }}</p>
    <p>Created At: {{ .Acronym.CreatedAt.Format "2006-01-02 15:04:05" }}</p>
    <p>Updated At: {{ .Acronym.UpdatedAt.Format "2006-01-02 15:04:05" }}</p>
    <p>Related: {{ range .Acronym.Related }} {{ .Acronym }} {{ end }}</p>
    <p>Labels: {{ range .Acronym.Labels }} {{ .Label }} {{ end }}</p>
    <p>Comments: {{ range .Acronym.Comments }} {{ .Comment }} {{ end }}</p>
    <p>History: {{ range .Acronym.History }} {{ .Action }} {{ end }}</p>
    <p>Grants: {{ range .Acronym.Grants }} {{ .GranteeType }} {{ end }}</p>
</div>
{{ end }}
