{{ define "components/AcronymFolder"}}
<div class="sidebar-section">
    <div class="sidebar-title">
        <h3>Folders</h3>
        <button class="btn btn-icon">
            <i class="ph ph-folder-plus"></i>
            <span>New Folder</span>
        </button>
    </div>
    <div class="folder-list">
        <div class="sidebar-item">
            <button class="btn">
                <i class="ph ph-caret-down"></i>
            </button>
            <i class="ph ph-folder sidebar-item-icon"></i>
            <span>Technology</span>
        </div>
        <div class="folder-subitem">
            <div class="sidebar-item">
                <i class="ph ph-folder sidebar-item-icon"></i>
                <span>Programming</span>
            </div>
        </div>
        <div class="sidebar-item">
            <i class="ph ph-folder sidebar-item-icon"></i>
            <span>Business</span>
        </div>
        <div class="sidebar-item">
            <i class="ph ph-folder sidebar-item-icon"></i>
            <span>Healthcare</span>
        </div>
    </div>
</div>
{{ end }}